@model Gestionale_Pizzeria.Models.Prodotti

@{
    ViewBag.Title = "Details";
}

@Html.HiddenFor(model => model.IdProdotto)
@Html.HiddenFor(model => model.Ingredienti)
@Html.HiddenFor(model => model.PrezzoVendita)
@Html.HiddenFor(model => model.TempoDiPreparazione)

<div class="container d-flex gap-5">
    <div class="col">
        <img class="card-img-top rounded" src="~/Content/FileUpload/@Model.UrlImg" alt="Card image cap">
    </div>
    <div class="col">
        <h2>@Model.Nome</h2>

        <h3>Prezzo vendita:</h3>
        <p>@Model.PrezzoVendita</p>

        <h3>Tempo di preparazione:</h3>
        <p>@Model.TempoDiPreparazione min</p>

        <h3>Ingridienti:</h3>
        <p>@Model.Ingredienti</p>

        @*Creare dal controller un create DettaglioOrdine come partial view*@
        @{

            Html.RenderAction("PartialViewEdit", "DettagliOrdine");
        }

    </div>
</div>

