@model IEnumerable<Gestionale_Pizzeria.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DettagliOrdine.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utenti.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Importo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Confermato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evaso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDettaglioOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdUtente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DettagliOrdine.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utenti.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Importo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Confermato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evaso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdDettaglioOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUtente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdOrdine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdOrdine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdOrdine })
        </td>
    </tr>
}

</table>
