<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    <script src="https://kit.fontawesome.com/7b501ddc7c.js" crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container-fluid d-flex justify-content-between">
        <div>
            <img src="~/Content/Logo/Pizza-logo.png" alt="Alternate Text" />
        </div>
        <div>
            @Html.ActionLink("Home", "Index", "Home")
            @Html.ActionLink("Account", "Auth", "Login")
            @Html.ActionLink("Carrello", "Carrello", "Ordini")
        </div>
        @*Abilitarlo in caso di login dell'admin*@
        @*<div></div>*@
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>
    <div class="container-fluid">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><i class="fa-brands fa-linkedin"></i></li>
                <li class="ms-3"><i class="fa-brands fa-instagram"></i></li>
                <li class="ms-3"><i class="fa-brands fa-facebook"></i></li>
            </ul>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
