@model IEnumerable<Gestionale_Pizzeria.Models.DettagliOrdine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ordini.StatoOrdine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prodotti.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdOrdine)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ordini.StatoOrdine)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prodotti.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdOrdine)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDettaglioOrdine }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDettaglioOrdine }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDettaglioOrdine })
        </td>
    </tr>
}

</table>
